
body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.btn-container button {
    width: 110px;
}

.img-status {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

[data-bs-content=''] {
visibility: hidden;
}
